/**
*
*	NaMe:			ahang Fonts
*	Version:			1.0
*	Author:			Moslem Ebrahimi (mosleMebrahimi.com)
*	Created on:		January 01, 2021
*	Updated on:		January 01, 2021
*	Website:			http://fontiran.com
*	Copyright:		ComMercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت آهنگ یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
ahang fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*
**/

@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/woff2/Ahang-Thin.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-Thin.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 200;
	src: url('fonts/woff2/Ahang-UltraLight.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-UltraLight.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/woff2/Ahang-Light.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-Light.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/woff2/Ahang-Medium.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-Medium.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/woff2/Ahang-DemiBold.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-DemiBold.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}

@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 800;
	src: url('fonts/woff2/Ahang-ExtraBold.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 850;
	src: url('fonts/woff2/Ahang-UltraBold.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-UltraBold.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: 900;
	src: url('fonts/woff2/Ahang-Black.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-Black.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: Bold;
	src: url('fonts/woff2/Ahang-Bold.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-Bold.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: ahang;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff2/Ahang-Regular.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('fonts/woff/Ahang-Regular.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
