@font-face {
  font-family: '_Alibaba';
  src: url('/Alibaba/Alibaba-Regular.ttf') format('truetype'),
    url('/Alibaba/Alibaba-Regular.eot') format('eot'),
    url('/Alibaba/Alibaba-Regular.woff') format('woff'),
    url('/Alibaba/Alibaba-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: '_Alibaba';
  src: url('/Alibaba/Alibaba-Light.ttf') format('truetype'),
    url('/Alibaba/Alibaba-Light.eot') format('eot'),
    url('/Alibaba/Alibaba-Light.woff') format('woff'),
    url('/Alibaba/Alibaba-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face {
  font-family: '_Alibaba';
  src: url('/Alibaba/Alibaba-Bold.ttf') format('truetype'),
    url('/Alibaba/Alibaba-Bold.eot') format('eot'),
    url('/Alibaba/Alibaba-Bold.woff') format('woff'),
    url('/Alibaba/Alibaba-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
  font-family: '_Alibaba';
  src: url('/Alibaba/Alibaba-Black.ttf') format('truetype'),
    url('/Alibaba/Alibaba-Black.eot') format('eot'),
    url('/Alibaba/Alibaba-Black.woff') format('woff'),
    url('/Alibaba/Alibaba-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
}


@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 100;
	src: url('/Anjoman/fonts/eot/Anjoman-Thin.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-Thin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 200;
	src: url('/Anjoman/fonts/eot/Anjoman-ExtraLight.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-ExtraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-ExtraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-ExtraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 300;
	src: url('/Anjoman/fonts/eot/Anjoman-Light.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 500;
	src: url('/Anjoman/fonts/eot/Anjoman-Medium.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 600;
	src: url('/Anjoman/fonts/eot/Anjoman-SemiBold.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-SemiBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-SemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-SemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 750;
	src: url('/Anjoman/fonts/eot/Anjoman-ExtraBold.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-ExtraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 800;
	src: url('/Anjoman/fonts/eot/Anjoman-UltraBold.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-UltraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-UltraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-UltraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 850;
	src: url('/Anjoman/fonts/eot/Anjoman-Black.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-Black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 900;
	src: url('/Anjoman/fonts/eot/Anjoman-Heavy.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-Heavy.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-Heavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-Heavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: 1000;
	src: url('/Anjoman/fonts/eot/Anjoman-SuperHeavy.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-SuperHeavy.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-SuperHeavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-SuperHeavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: bold;
	src: url('/Anjoman/fonts/eot/Anjoman-Bold.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: normal;
	font-weight: normal;
	src: url('/Anjoman/fonts/eot/Anjoman-Regular.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


/**
Italic /Anjoman/fonts	
**/


@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 100;
	src: url('/Anjoman/fonts/eot/Anjoman-ThinItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-ThinItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-ThinItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-ThinItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 200;
	src: url('/Anjoman/fonts/eot/Anjoman-ExtraLightItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-ExtraLightItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-ExtraLightItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 300;
	src: url('/Anjoman/fonts/eot/Anjoman-LightItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-LightItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-LightItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-LightItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 500;
	src: url('/Anjoman/fonts/eot/Anjoman-MediumItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-MediumItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-MediumItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-MediumItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 600;
	src: url('/Anjoman/fonts/eot/Anjoman-SemiBoldItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-SemiBoldItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-SemiBoldItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 750;
	src: url('/Anjoman/fonts/eot/Anjoman-ExtraBoldItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-ExtraBoldItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-ExtraBoldItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 800;
	src: url('/Anjoman/fonts/eot/Anjoman-UltraBoldItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-UltraBoldItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-UltraBoldItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 850;
	src: url('/Anjoman/fonts/eot/Anjoman-BlackItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-BlackItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-BlackItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-BlackItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 900;
	src: url('/Anjoman/fonts/eot/Anjoman-HeavyItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-HeavyItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-HeavyItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-HeavyItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: 1000;
	src: url('/Anjoman/fonts/eot/Anjoman-SuperHeavyItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-SuperHeavyItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-SuperHeavyItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-SuperHeavyItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: bold;
	src: url('/Anjoman/fonts/eot/Anjoman-BoldItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-BoldItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-BoldItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-BoldItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman';
	font-style: italic;
	font-weight: normal;
	src: url('/Anjoman/fonts/eot/Anjoman-Italic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-Italic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-Italic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-Italic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


/**
Condensed /Anjoman/fonts	
**/


@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 100;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedCondensedThin.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedCondensedThin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedCondensedThin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedCondensedThin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 200;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedExtraLight.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedExtraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedExtraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedExtraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 300;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedLight.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 500;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedMedium.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedMedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedMedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedMedium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 600;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedSemiBold.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedSemiBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedSemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedSemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 750;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedExtraBold.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedExtraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 800;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedUltraBold.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedUltraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedUltraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedUltraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 850;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedBlack.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedBlack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedBlack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedBlack.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 900;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedHeavy.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedHeavy.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedHeavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedHeavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: 1000;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedSuperHeavy.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedSuperHeavy.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedSuperHeavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedSuperHeavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: bold;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedBold.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed;
	font-weight: normal;
	src: url('/Anjoman/fonts/eot/Anjoman-Condensed.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-Condensed.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-Condensed.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-Condensed.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


/**
CondensedItalic /Anjoman/fonts	
**/


@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: 100;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedThinItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedThinItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedThinItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedThinItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: 200;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedExtraLightItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedExtraLightItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedExtraLightItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedExtraLightItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: 300;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedLightItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedLightItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedLightItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: 500;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedMediumItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedMediumItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedMediumItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedMediumItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: 600;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedSemiBoldItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedSemiBoldItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedSemiBoldItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedSemiBoldItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: 750;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedExtraBoldItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedExtraBoldItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedExtraBoldItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedExtraBoldItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: 800;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedUltraBoldItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedUltraBoldItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedUltraBoldItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedUltraBoldItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: 850;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedBlackItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedBlackItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedBlackItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedBlackItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed condensed italic;
	font-weight: 900;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedHeavyItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedHeavyItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedHeavyItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedHeavyItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: 1000;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedSuperHeavyItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedSuperHeavyItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedSuperHeavyItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedSuperHeavyItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: bold;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedBoldItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedBoldItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedBoldItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedBoldItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Anjoman_condensed';
	font-style: condensed italic;
	font-weight: normal;
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedItalic.eot');
	src: url('/Anjoman/fonts/eot/Anjoman-CondensedItalic.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/Anjoman/fonts/woff2/Anjoman-CondensedItalic.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Anjoman/fonts/woff/Anjoman-CondensedItalic.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


/* Ahang Normal */

@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: 100;
	src: url('/Ahang/fonts/normal/woff2/Ahang-Thin.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-Thin.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: 200;
	src: url('/Ahang/fonts/normal/woff2/Ahang-UltraLight.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-UltraLight.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: 300;
	src: url('/Ahang/fonts/normal/woff2/Ahang-Light.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-Light.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: 500;
	src: url('/Ahang/fonts/normal/woff2/Ahang-Medium.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-Medium.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: 600;
	src: url('/Ahang/fonts/normal/woff2/Ahang-DemiBold.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-DemiBold.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}

@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: 800;
	src: url('/Ahang/fonts/normal/woff2/Ahang-ExtraBold.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: 850;
	src: url('/Ahang/fonts/normal/woff2/Ahang-UltraBold.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-UltraBold.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: 900;
	src: url('/Ahang/fonts/normal/woff2/Ahang-Black.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-Black.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: Bold;
	src: url('/Ahang/fonts/normal/woff2/Ahang-Bold.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-Bold.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang';
	font-style: normal;
	font-weight: normal;
	src: url('/Ahang/fonts/normal/woff2/Ahang-Regular.woff2') format('woff2'),  /* FF39+,ChroMe36+, Opera24+*/
		 url('/Ahang/fonts/normal/woff/Ahang-Regular.woff') format('woff');  /* FF3.6+, IE9, ChroMe6+, Saf5.1+*/
}

/* Ahang Sharp */


@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: 100;
	src: url('/Ahang/fonts/sharp/woff2/ahang-thinsharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-thinsharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: 200;
	src: url('/Ahang/fonts/sharp/woff2/ahang-ultralightsharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-ultralightsharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: 300;
	src: url('/Ahang/fonts/sharp/woff2/ahang-lightsharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-lightsharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: 500;
	src: url('/Ahang/fonts/sharp/woff2/ahang-mediumsharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-mediumsharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: 600;
	src: url('/Ahang/fonts/sharp/woff2/ahang-demiboldsharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-demiboldsharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: 800;
	src: url('/Ahang/fonts/sharp/woff2/ahang-extraboldsharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-extraboldsharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: 850;
	src: url('/Ahang/fonts/sharp/woff2/ahang-ultraboldsharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-ultraboldsharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: 900;
	src: url('/Ahang/fonts/sharp/woff2/ahang-blacksharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-blacksharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: bold;
	src: url('/Ahang/fonts/sharp/woff2/ahang-boldsharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-boldsharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: '_Ahang_Sharp';
	font-style: normal;
	font-weight: normal;
	src: url('/Ahang/fonts/sharp/woff2/ahang-regularsharp.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/Ahang/fonts/sharp/woff/ahang-regularsharp.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

/* Farhang font */

@font-face {
  font-family: '_Ravi';
  src: url('/Ravi/ttf/Ravi_Regular.ttf') format('truetype'),
    url('/Ravi/otf/Ravi_Regular.otf') format('otf'),
    url('/Ravi/woff/Ravi_Regular.woff') format('woff'),
    url('/Ravi/woff2/Ravi_Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: '_Ravi';
  src: url('/Ravi/ttf/Ravi_Light.ttf') format('truetype'),
    url('/Ravi/otf/Ravi_Light.otf') format('otf'),
    url('/Ravi/woff/Ravi_Light.woff') format('woff'),
    url('/Ravi/woff2/Ravi_Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face {
  font-family: '_Ravi';
  src: url('/Ravi/ttf/Ravi_Thin.ttf') format('truetype'),
    url('/Ravi/otf/Ravi_Thin.otf') format('otf'),
    url('/Ravi/woff/Ravi_Thin.woff') format('woff'),
    url('/Ravi/woff2/Ravi_Thin.woff2') format('woff2');
    font-style: normal;
    font-weight: 200;
}

@font-face {
  font-family: '_Ravi';
  src: url('/Ravi/ttf/Ravi_Medium.ttf') format('truetype'),
    url('/Ravi/otf/Ravi_Medium.otf') format('otf'),
    url('/Ravi/woff/Ravi_Medium.woff') format('woff'),
    url('/Ravi/woff2/Ravi_Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
  font-family: '_Ravi';
  src: url('/Ravi/ttf/Ravi_SemiBold.ttf') format('truetype'),
    url('/Ravi/otf/Ravi_SemiBold.otf') format('otf'),
    url('/Ravi/woff/Ravi_SemiBold.woff') format('woff'),
    url('/Ravi/woff2/Ravi_SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
  font-family: '_Ravi';
  src: url('/Ravi/ttf/Ravi_Bold.ttf') format('truetype'),
    url('/Ravi/otf/Ravi_Bold.otf') format('otf'),
    url('/Ravi/woff/Ravi_Bold.woff') format('woff'),
    url('/Ravi/woff2/Ravi_Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
  font-family: '_Ravi';
  src: url('/Ravi/ttf/Ravi_ExtraBold.ttf') format('truetype'),
    url('/Ravi/otf/Ravi_ExtraBold.otf') format('otf'),
    url('/Ravi/woff/Ravi_ExtraBold.woff') format('woff'),
    url('/Ravi/woff2/Ravi_ExtraBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 800;
}

@font-face {
  font-family: '_Ravi';
  src: url('/Ravi/ttf/Ravi_Black.ttf') format('truetype'),
    url('/Ravi/otf/Ravi_Black.otf') format('otf'),
    url('/Ravi/woff/Ravi_Black.woff') format('woff'),
    url('/Ravi/woff2/Ravi_Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
}